---
interface Props {
    name: string;
    country: string;
    imgPath: string;
    date: string;
    round: string;
}

const { name, country, imgPath, date, round } = Astro.props;
---

<div class='cir'>
    <div class='locations'>
        <div class='text'>
            <h2 class='name'>{name}</h2>
            <h2 class='country'>{country}</h2>
        </div>
        <img src={`/img/flags/${imgPath}.avif`} alt='' />
    </div>

    <div class='decor'></div>

    <img src={`/img/circuits/${imgPath}.avif`} alt='' class='circuit' />

    <div class='decor'></div>

    <div class="info">
        <h1 class="date">{date}</h1>
        <h1 class="round">Round {round}</h1>
    </div>
</div>

<div class="cir2">
    
</div>