---


interface Props {
    name: string;
    country: string;
    imgPath: string;
    date: string;
    round: string;
    firstGp: string;
    cirLength: string;
    fLap: string;
    lapNum: string;
    driver: string;
}

const {
    name,
    country,
    imgPath,
    date,
    round,
    firstGp,
    cirLength,
    fLap,
    lapNum,
    driver,
} = Astro.props;
---

<div class="cir dark-theme">
    <div class="locations">
        <div class="text">
            <h2 class="name">{name}</h2>
            <h2 class="country">{country}</h2>
        </div>
        <img src={`/img/flags/${imgPath}.avif`} alt="" />
    </div>

    <div class="decor"></div>

    <img src={`/img/circuits/${imgPath}.avif`} alt="" class="circuit" />

    <div class="decor"></div>

    <div class="info">
        <h1 class="date">{date}</h1>
        <h1 class="round">Round {round}</h1>
    </div>

    <div class="extra dark-theme">
        <div class="extra-title">
            <h1>{name}</h1>
            <img src={`/img/flags/${imgPath}.avif`} alt="" />
        </div>

        <div class="cir-info">
            <div class="first-gp info-bg">
                <h2>First GP in:</h2>
                <p>{firstGp}</p>
            </div>

            <div class="cir-length info-bg">
                <h2>Circuit length:</h2>
                <p>{cirLength} <span>km</span></p>
            </div>

            <div class="f-lap info-bg">
                <h2>Fastest Lap:</h2>
                <p>{fLap}</p>
                <h3>{driver}</h3>
            </div>

            <div class="lap-num info-bg">
                <h2>Number of Laps:</h2>
                <p>{lapNum}</p>
            </div>
        </div>
    </div>
</div>

<style>
    .cir {
        scroll-snap-align: center;

        display: flex;
        flex-direction: column;
        padding: 3%;

        width: 90%;
        min-height: 52vh;
        position: relative;


        border-top-right-radius: 5%;
        border-bottom-left-radius: 5%;
        border-top: 3px;
        border-right: 3px;
        border-bottom: 0;
        border-left: 0;
        border-style: solid;
        border-color: #b4b4b6;

        /* background-color: rgb(250, 250, 250); */
        /* color: black; */

        .locations {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .text {
                h2 {
                    margin-top: 4px;
                    margin-bottom: 4px;

                    font-size: 1.3rem;
                }

                .name {
                    font-size: 2rem;
                    font-family: f1-torque;
                }
                .country {
                    color: rgb(180, 0, 0);
                }
            }
            img {
                width: 70px;
                border-color: rgba(0, 0, 0, 0.222);
                border-width: 2px;
                border-radius: 10px;
                border-style: solid;
            }
        }

        .info {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 70%;

            h1 {
                font-family: f1-torque, f1-reg;
                margin-top: 4px;
                margin-bottom: 4px;

                font-size: 1.4rem;
            }

            .round {
                font-family: f1-reg;
                color: rgb(180, 0, 0);
            }
        }
    }

    .cir:hover .extra {
        transition: opacity .4s ease-in-out;
        opacity: 1;
    }

    .cir:hover {
        border-color: rgb(180, 0, 0);
        transition: border-color .4s ease-in-out;
    }

    .extra {
        position: absolute;
        display: flex;
        opacity: 0;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;

        width: 100%;
        height: 100%;
        margin: 0;
        
        top: 0;
        left: 0;
        border-top-right-radius: 35px;

        /* background-color: rgb(250, 250, 250); */
        z-index: 10;

        p {
            font-family: f1-bold;
            font-size: 1rem;
            margin-top: 4px;
            margin-bottom: 4px;

            /* margin-right: 200px; */
        }

        h1 {
            font-family: f1-bold;
        }

        img {
            width: 70px;
            border-color: rgba(0, 0, 0, 0.222);
            border-width: 2px;
            border-radius: 10px;
            border-style: solid;
        }
        .extra-title {
            margin-top: 5px;
            margin-bottom: 5px;
            display: flex;
            /* justify-content: space-between; */

            h1 {
                min-width: 100%;
                margin-left: auto;
            }
            img {
                margin-right: auto;
            }
        }

        .cir-info {
            display: grid;
            justify-content: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 30%;
            grid-column-gap: 8%;

            .info-bg {
                /* background-color: rgb(250, 250, 250); */
                width: 280px;
                height: 90px;
                margin: 0;

                border-right-width: 3px;
                border-top-width: 3px;
                border-left-width: 0;
                border-bottom-width: 0;
                border-top-right-radius: 15px;

                border-style: solid;
                border-color: #b4b4b6;

                h2 {
                    font-family: f1-bold;
                    font-size: 1.4rem;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
                h3 {
                    font-family: f1-bold;
                    font-size: 1.2rem;
                    margin-top: 5px;
                    margin-bottom: 10px;
                    color: rgb(180, 0, 0);
                }
                p {
                    font-family: f1-bold;
                    font-size: 3.3rem;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
                span {
                    font-size: 1.4rem;
                    color: rgb(180, 0, 0);
                }
            }

            .first-gp {
            }
            .cir-length {
            }
            .f-lap {
            }
            .lap-num {
            }
        }
    }

    .decor {
        width: 97.5%;
        min-height: 1px;
        background-color: #b4b4b6;
        margin-left: 2.5%;
        margin-top: 0.5%;
        z-index: 9;
    }

    .circuit {
        width: 80%;
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: 10%;
        margin-top: 2%;
        margin-bottom: 2%;
    }


    /* .dark-theme {
        background-color: rgb(25, 25, 25);
        color: rgb(240, 240, 240);;
    } */
    
</style>

